<ion-header>
  <ion-toolbar>
    <ion-title>Clube de Vendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div>
    <h2 style="text-align: center;">Acessar</h2>
  </div>
  <br>
  <ion-list>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-radio-group>
      <ion-item>
        <ion-radio slot="start" value="cliente" checked></ion-radio>
        <ion-label>Cliente</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Parceiro</ion-label>
        <ion-radio slot="start" value="parceiro" disabled></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div>
    <ion-button expand="block" padding color="tertiary" (click)="prosesLogin()">Acessar</ion-button>
  </div>
  <br>
  <div>
    <h6 style="text-align: center;">Apenas clientes no momento</h6>
  </div>
</ion-content>
