<ion-header>
  <ion-toolbar>
    <ion-title>
      Clube de Vendas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-card-title>Bem vindo Fulano</ion-card-title>
    </ion-list-header>
    <ion-item href="">
      <ion-icon slot="start" color="medium" name="logo-usd" style="font-size: 2rem;"></ion-icon>
      <ion-label *ngFor="let processando of valor_processando">Processando <br> {{ processando.valor_processando }}</ion-label>
    </ion-item>
    <ion-item href="">
      <ion-icon slot="start" color="medium" name="logo-usd" style="font-size: 2rem;"></ion-icon>
      <ion-label *ngFor="let disponivel of valor_disponivel">Disponível <br> {{ disponivel.valor_disponivel }}</ion-label>
    </ion-item>
    <ion-item href="">
      <ion-icon slot="start" color="medium" name="logo-usd" style="font-size: 2rem;"></ion-icon>
      <ion-label *ngFor="let retirado of valor_retirado">Retirado <br> {{ retirado.valor_retirado }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-list-header>
      <ion-card-title>Últimas compras</ion-card-title>
    </ion-list-header>
    <ion-item href="" *ngFor="let compra of lista_compras">
      <ion-label>
        <img src="http://localhost/clube/assets/img/{{ compra.logo }}" alt="" style="width: 25%; margin-right: 8%; float: left;" />
        <strong>{{ compra.nome }}</strong> <br>
        {{ compra.data_venda }} <br>
        Valor: R$ {{ compra.valor_venda }} <br>
        Devolvido: R$ {{ compra.valor_devolvido_cliente }}
      </ion-label>
    </ion-item>
    <ion-item>
      Acesse o site para ver todas as compras.
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-list-header>
      <ion-card-title>Últimos saques</ion-card-title>
    </ion-list-header>
    <ion-item href="" *ngFor="let saque of lista_saques">
      <ion-label>
        Data saque:{{ saque.data_saque }} <br>
        Valor: R$ {{ saque.valor }}
      </ion-label>
    </ion-item>
    <ion-item>
      Acesse o site para ver todas as compras.
    </ion-item>
  </ion-list>
</ion-content>
