<ion-header>
  <ion-toolbar>
    <ion-title>
      Clube de Vendas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="http://localhost/clube/assets/img/chamada.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <!--<ion-card-title>Welcome to Ionic</ion-card-title>-->
      </ion-card-header>
      <ion-card-content>
        <h2>
          Compre nas melhores lojas de Taiobeiras e região. <br><br>
          Receba seu dinheiro de volta!
        </h2>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <div class="" style="font-size: 1.2rem; text-align: center;">
        <br>
        <ion-label style="">Lojas participantes</ion-label>
        <br><br>
      </div>
      <ion-item *ngFor="let empresa of lista_empresas" style="margin-bottom: 20px;">
        <!--<ion-icon slot="start" color="medium" name="book" style="font-size: 4rem;"></ion-icon>-->
        <img src="http://localhost/clube/assets/img/{{ empresa.logo }}" alt="" style="width: 25%; margin-right: 8%;" />
        <ion-label>{{ empresa.nome }} <br> {{ empresa.porcentagem_cliente }}% de volta</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
