<ion-header>
  <ion-toolbar>
    <ion-title>
      Clube de Vendas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let row of perfil">
  <ion-list lines="none">
    <ion-list-header>
      <ion-card-title>{{ row.nome }}</ion-card-title>
    </ion-list-header>
  </ion-list>

  <ion-list lines="none">
    <ion-list-header>
      <ion-card-title>Meu cartão</ion-card-title>
    </ion-list-header>
    <ion-item href="">
      <ion-label>
        <ion-img src="/assets/image/cartao_top.png"></ion-img>
        <br>
        <span style="display: block; text-align: center; font-size: 2.5rem;">{{ row.codigo }}</span>
        <br>
        <ion-img src="/assets/image/cartao_bot.png"></ion-img>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-list-header>
      <ion-card-title>Dados</ion-card-title>
    </ion-list-header>
    <ion-item>
      <ion-label>
        CPF: {{ row.cpf }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Nome: {{ row.nome }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Sobrenome: {{ row.sobrenome }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Telefone: {{ row.telefone }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Código do cartão: {{ row.codigo }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
